@font-face {
    font-family: HelveUltraLight;
    src: url(../fonts/HelveticaNeue-UltraLight.otf);
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/*Helvetica Neue*/
.navbar-fixed-left {
	background-color: #51c4b7;
  	width: 250px;
  	position: fixed;
  	border-radius: 0 !important;
  	height: 100%;
  	float: left;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 250px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4e5859 !important;
}


.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #51c4b7 !important;
    color: #ffffff !important;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.nav-header{
	background-color: #51c4b7;
	height: 300px;
	width: 100%;
	margin-top: -5px;
}

.navbar-inverse {
    background-color: #f2f2f2 !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent !important;   
}

.navbar-nav{
    height: 651px;
}

.navbar-inverse .navbar-brand {
    width: 100%;
    margin-bottom: 30px;
}

.user i, .user h3{
	color: #ffffff;
}

.user img{
    max-width: 127px;
    height: auto;
}

.user h3{
  margin-top: -13px;
}

.header-section{
	height: 295px;
	width: 100%;
}

.textbox-search{
	margin: 4%;
    width: 92%;
    border: 1px solid #e0dada;
    border-radius: 5px;
    padding: 8px;
}

.social-icon {
    margin: 528px 0px 30px 0px !important;
}

.social-icon h5{
    margin-top: 15px;
    margin-bottom: 15px;
}

.course-list{
    margin-bottom: 20px;
    background-color: #f1eded;
    padding: 26px;
    margin-left: 0px;
    border-right: 4px solid #51c4b7;
    border-radius: 13px;
}

.course-img{
    width: 203px; 
    height: 203px; 
    border-radius: 100px;
}

.table-profile-content{
    width: 50%;
    margin-left: 3%;
}

.table-profile-content tr{
  border-bottom: 1px solid #ddd !important;
    color: #5e6d81;
    font-size: 15px;
    font-weight: bold;
}

.btn-custom {
    color: #ffffff;
    background-color: #51c4b7;
    border-color: #51c4b7;
    border-radius: 1px;
}

.btn-custom:hover {
    color: #ffffff;
    background-color: #51c4b7;
    border-color: #51c4b7;
    border-radius: 1px;
}

.btn-default{
    border-radius: 1px;  
}

.detailedlabel {
    font-size: 18px;
    color: #51c4b7;
    margin-top: 30px;
    font-family: "HelveUltraLight";
    font-weight: bold;
}

.instructor_label{
    font-family: "HelveUltraLight";
    font-size: 18px;
    color: #54575a!important;
    font-weight: bold;
    margin-top: -10px;
}

.content_separator{
    border-left: 3px solid #dddddd;
}

.img-circle img{
    max-width: 145px;
    border-radius: 50%;
}

.link_lessons{
    color: #51c4b7;
    font-size: 20px;
}

.link_lessons:hover{
    color: #51c4b7;
}
.duration_size{
    font-size: 18px;  
}

.course-header{
    padding-top: 30px;
    padding-left: 30px;
}

.course-header h3{
    color: white;
    font-size: 36px;
}
 
.course-header h1{
    color: #51c4b7;
    font-size: 60px;
    font-weight: bold;
}

.course-header p{
    color: white;
    font-size: 18px;
}

.lesson_description{
    font-family: "HelveUltraLight";
    font-size: 18px;
    font-weight: bold;
    color: #54575a;
    padding-Bottom: 20px;
}

.lesson_title{
    color: #51534a!important;
    font-weight: bold;
    text-align: left;
}

.course-title, .course-title:hover{
    color: #51c4b7;
}

.table-custom>tbody>tr>td{
        border-top: 0px solid #ddd !important;
}

.pad-title{
    padding-left: 30px;
}

@media screen and (max-width: 1940px) {
    .header-all, .content-all{
        width: 70%;
    }

    .content-description{
        margin-left: 83px;
        width: 73%;
    }
    .lesson-video{
        width: 85%;
        background-color: #000000;
        text-align: center;
    }
}

@media screen and (max-width: 1823px){
    .lesson-video{
        width: 84%;
        background-color: #000000;
        text-align: center;
    }   
}

@media screen and (max-width: 1706px){
    .lesson-video{
        width: 83%;
        background-color: #000000;
        text-align: center;
    }   
}

@media screen and (max-width: 1603px){
    .lesson-video{
        width: 82%;
        background-color: #000000;
        text-align: center;
    }   
}
@media screen and (max-width: 1512px){
    .lesson-video{
        width: 80%;
        background-color: #000000;
        text-align: center;
    }   

    .lesson-video iframe{
        width: 80%;
    
    }   
}

@media screen and (max-width: 1360px){
    .lesson-video{
        width: 78%;
        background-color: #000000;
        text-align: center;
    }

    .lesson-video iframe{
        width: 100%;
    }
}

@media screen and (max-width: 1360px){
    .lesson-video{
        width: 75%;
        background-color: #000000;
        text-align: center;
    }

    .lesson-video iframe{
        width: 100%;
    }
}
/*@media screen and (max-width: 1619px){
    .header-all{
        width: 54%;
    }
}*/

@media screen and (max-width: 1090px){
    .content-description{
        width: 66%;
        margin-left: 110px;
    }
}

@media screen and (max-width: 1076px){
    .lesson-video{
        width: 70%;
        background-color: #000000;
        text-align: center;
    }

    .lesson-video iframe{
        width: 100%;
    }
}